<div class="p-price{% if price_is_placeholder %} is-placeholder{% endif %}">
  <span class="p-now{% if price_is_placeholder %} is-placeholder{% endif %}">{{ price_now }}</span>
  {% if price_was != blank %}
    <span class="p-was">{{ price_was }}</span>
  {% endif %}
  {% if price_save != blank %}
    <span class="p-save">{{ price_save }}</span>
  {% endif %}
</div>
{% if supporting_note != blank %}
  <div class="p-price-note">{{ supporting_note }}</div>
{% endif %}
